<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    

    
    <form method="get" action="/users/new"  >

        <button>Add new User</button>

    </form>

    <br> 

    <table border="black">

        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Username</th>


        </tr>

      


        <%for(let user of users ) {%>

        
            <tr>

                <td><%=user.id%></td>
                <td><%=user.email%></td>
                <td><%=user.username%></td>
                
            

                <td>
                
                <form method="get" action="/users/<%=user.id%>/edit">
                    <button>Edit Username</button>
                </form>
                
                </td>



                <td>
                
                <form method="get" action="/users/<%=user.id%>/delete">
                    <button>Delete User</button>
                </form>
                
                </td>


            </tr>


        <%}%>


    </table>



    
</body>
</html>